@charset "utf-8";
img {
    max-width: 100%;
    height: auto;
}

html {
    background-color: #181818;
}

head {
    background-color: #181818;
}

main {
    text-align: center;
    margin-top: 1%;
    font-size: 60px;
    color: aliceblue
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    color: #181818;
    background-image: url(../images/haikei.jpg);
}

.h1 {
    font-size: 170px;
    /* color: #181818;; */
    text-align: center;
    color: aliceblue;
}

.moji {
    font-size: 14px;
    color: aliceblue;
    text-align: center;
}

/* footer {
    text-align: center;
    margin: 300px auto;
    font-size: 480px;
    color: #181818;
    background-color: #181818;
} */

.parent {
    position: absolute;
    margin: 0 auto;
    height: 480px;
    width: 640px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #181818;
}
button {
    margin: 100px 0;
    position: absolute;
    top: 400px;
    left: 400px;
    
}
.cover {
    visibility: visible;   /* 表示 */
}
h2{
    color: red;
    text-align: center;
    position: absolute;
    top: 550px;
    left: 600px;
}
.box{
    text-align: center;
    position: absolute;
    
    top: 500px;
    bottom: 0;
    left: 0;
    right: 0;

}

.box select{
    border: 1px solid;
    font-size: 20px;
    width: 80px;
    }
/* #video{
    margin:0 auto; 
    width:100%
} */


/* #facecanvas{
    margin:0 auto; 
    width:640px;
    height: 480px;
} */
