@charset "utf-8";
img { max-width:100%; height:auto; }
main{
    text-align: center;
    margin-top: 1%;
    font-size: 42px;
    color: rgb(255, 255, 255)
}
h1{
    font-size: 142px;
    color: rgb(255, 255, 255);
    text-align:center;
}
footer{
    text-align: center;
    margin: 300px auto;
    font-size: 480px;
    color: rgb(255, 255, 255)
}
.parent{
    margin:0 auto; 
    height: 480px;
    width: 640px;
}
/* #video{
    margin:0 auto; 
    width:100%
} */
/* #facecanvas{
    margin:0 auto; 
    width:640px;
    height: 480px;
} */